<table class="table table-sm table-striped table-bordered">

    <thead>
        <tr><th colspan="5" class="text-center">@TableTitle</th></tr>
    </thead>

    <tbody>
    @if (Orders?.Count() > 0)
    {
        @foreach (var o in Orders)
        {
            <tr>
                <td>@o.Name</td><td>@o.Zip</td><td>Товар</td><td>Количество</td>
                <td>
                    <button class="btn btn-sm btn-secondary" @onclick="@(x => OrderSelected.InvokeAsync(o.Id))">
                        @ButtonLabel
                    </button>
                </td>
            </tr>
            @foreach (var line in o.Lines)
            {
                <tr>
                    <td colspan="2"></td>
                    <td>@line.Product.Name</td><td>@line.Quantity</td>
                    <td></td>
                </tr>
            }
        }
    }
    else
    {
        <tr><td colspan="5" class="text-center">Нет заказов</td></tr>
    }
    </tbody>
</table>

@code {
    [Parameter]
    public string TableTitle { get; set; } = "Заказы";
    [Parameter]
    public IEnumerable<Order> Orders { get; set; } = Array.Empty<Order>();
    [Parameter]
    public string ButtonLabel { get; set; } = "Отправить";
    [Parameter]
    public EventCallback<int> OrderSelected { get; set; }
}
